<div class="main odais-index">
  <div class="container">
    <% @bokes.each do |boke| %>
      <div class="odais-index-item">
        <!--<%# <%= link_to image_tag(odai.image_url(:thumb)), "/odais/#{odai.id}" %> %>-->
        <div class="image"><%= image_tag boke.image_url(:thumb) %></div>
        
        <div class="content"><%= link_to(boke.content, "/bokes/#{boke.id}", id: "content-text")%></div>
      </div>
    <% end %>


  </div>
</div>
