<div class="main posts-index">
  <div class="container">
    <% @odais.each do |odai| %>
      <div class="posts-index-item">
        <!--<%# <%= link_to(odai.content, "/odais/#{odai.id}") %> %>-->
        <%= odai.content %>
        <%= link_to image_tag(odai.image_url(:thumb)), "/odais/#{odai.id}" %>
      </div>
    <% end %>
  </div>
</div>
