<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <p>
        <%= @odai.content %>
      </p>
      <div class="post-time">
        <%= @odai.created_at %>
      </div>
      <div class="post-menus">
        <%= link_to("編集", "/odais/#{@odai.id}/edit") %>
        <%= link_to("削除", "/odais/#{@odai.id}/destroy",{method: "post"}) %>
      </div>
    </div>
  </div>
</div>
